.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem;
  background-color: black;
  height: 100vh;
}

.main_input{
  color:black;
  font-family:'Space Mono', monospace;
/*   background-color: black;*/
   border:none;
   height:4rem;
   padding:5px;
   font-size: 2rem;
}

.main_input:focus{
outline:none
}

.displayedTextSection{
  overflow-y: auto;
  overflow: hidden;
 height:100%
}

.displayedLine{
  color:white
}
